PORT=4000

DB_HOST=localhost
DB_USER=root
DB_PASS=changeme
DB_NAME=investor_fund_collection

JWT_ACCESS_SECRET=replace_with_a_long_random_string
JWT_ACCESS_EXPIRY=7d

INVESTOR_ID_PREFIX=IFC
INVESTOR_ID_SUFFIX=HT
